■ 문자열에서 특정 위치의 문자 얻기

In [ ]:
# 예:
txt1 = 'A tale that was not right'

txt2 = '이 또한 지나가리라.'

print(txt1[5])      # ‘e’가 출력됨

print(txt2[-2])     # ‘다’가 출력됨

■ 문자열에서 지정한 구간의 문자열 얻기

In [ ]:
# 예:
txt1 = 'A tale that was not right'

txt2 = '이 또한 지나가리라.'

print(txt1[3:7])      # ‘ale ’이 출력됨

print(txt1[:6])       # ‘A tale’ 이 출력됨

print(txt2[-4:])      # ‘가리라.’가 출력됨

In [21]:
# 문제. 리스트로 위의 코드를 구현하시오

a = [1,2,3,4,5,6,7,8]

# 숫자 5 이후는 다 출력되게 하시오
print(a[4:])

# 숫자 6 이전까지 출력하시오
print(a[:5])

# 중간 숫자를 출력하시오
m = len(a) // 2
if len(a) % 2 == 0:
    print(a[m:m+2])
else:
    print(a[m])

[5, 6, 7, 8]
[1, 2, 3, 4, 5]
[5, 6]

■ 문자열에서 홀 수 번째 문자만 추출하기

In [26]:
# 예)
txt = 'aAbBcCdDeEfFgGhHiIjJkK'
ret = txt[::2]
print(ret)

abcdefghijk

In [27]:
# 문제. 위의 문자열에서 짝수번째만 출력하세요
txt = 'aAbBcCdDeEfFgGhHiIjJkK'
ret = txt[1::2]
print(ret)

ABCDEFGHIJK

■ 문자열을 거꾸로 만들기

In [28]:
# 예:
txt = 'aAbBcCdDeEfFgGhHiIjJkK'
ret = txt[::-1]
print(ret)
# stack 에서 많이 사용함: LIFO

KkJjIiHhGgFfEeDdCcBbAa

stack (LIFO)
"Python 의 리스트가 스텍구조를 가지고 있다"

In [ ]:
# 문제204. 파이썬의 리스트가 스택구조임을 확인하시오

a = []
a.append(1)
a.append(2)
print(a)
a.append(3)
print(a)

In [69]:
# 문제205. 다시 숫자를 빼내시오! (LIFO)
a = []
a.append(1)
a.append(2)
a.append(3)

print(a)
for i in a:
    a.pop()
    print(a)

[1, 2, 3]
[1, 2]
[1]

■ 두개의 문자열 합치기 (+)

In [70]:
# 예:
filename = input('저장할 파일 이름을 입력하세요: ')

filename = filename + '.jpg'

display_msg = '당신이 저장한 파일은 <' + filename + '> 입니다.'

print(display_msg)

저장할 파일 이름을 입력하세요: 5
당신이 저장한 파일은 <5.jpg> 입니다.

■ 문자열을 반복해서 새로운 문자열로 만들기

In [71]:
# 예:
msg1 = '여러분'

msg2 = '파이팅!'

display_msg = msg1 + ', ' + msg2*3 + '~!'

print(display_msg)

여러분, 파이팅!파이팅!파이팅!~!

■ 문자열에서 특정 문자가 있는지 확인하기 (in)

In [72]:
# 예:
msg = input('임의의 문장을 입력하세요: ')

if 'a' in msg:

       print('당신이 입력한 문장에는 a가 있습니다.')

else:

       print('당신이 입력한 문장에는 a가 없습니다.')

임의의 문장을 입력하세요: today is hollyday
당신이 입력한 문장에는 a가 있습니다.

■ 91. 문자열에 있는 문자(열) 개수 구하기 count

In [ ]:
# 예제 :
txt = 'A lot of things occur each day, every day.'
word_count1 = txt.count('o')
word_count2 = txt.count('day')
word_count3 = txt.count(' ')
print(word_count1)  # 3이 출력됨
print(word_count2)  # 2가 출력됨
print(word_count3)  # 8이 출력됨

In [ ]:
■ 92. 문자열에 있는 문자(열) 위치 찾기 find

In [ ]:
# 예제:
txt = 'A lot of things occur each day, every day.'
offset1 = txt.find('e')
offset2 = txt.find('day')
offset3 = txt.find('day', 30)
print(offset1)   # 22가 출력됨
print(offset2)   # 27이 출력됨
print(offset3)   # 38이 출력됨

■ 93. 문자열에 있는 문자(열) 분리하기 split

In [ ]:
# 예제:
url = 'http://www.naver.com/news/today=20160831'
log = 'name:홍길동 age:17 sex:남자 nation:조선'

ret1 = url.split('/')
print(ret1)

ret2 = log.split()
for data in ret2:
   d1, d2 = data.split(':')
   print('%s -> %s' %(d1, d2))

# 결과>
# ['http:', '', 'www.naver.com', 'news', 'today=20160831']
# name -> 홍길동
# age -> 17
# sex -> 남자
# nation -> 조선

■ 94. 문자열을 특정 문자(열) 결합하기 join

In [ ]:
# 예제
loglist = ['2016/08/26 10:12:11', '200', 'OK', '이 또한 지나가리라']
bond = ';'
log = bond.join(loglist)
print(log)

# 결과>
# 2016/08/26 10:12:11;200;OK;이 또한 지나가리라

■ 95. 문자열에서 특정 문자(열)를 다른 문자(열)로 바꾸기 replace

In [ ]:
# 예제
txt = 'My password is 1234'
ret1 = txt.replace('1', '0')
ret2 = txt.replace('1', 'python')
print(ret1)   # ‘My Password is 0234’가 출력됨
print(ret2)   # ‘My Password is python234’가 출력됨
txt = '매일 많은 일들이 일어납니다.'
ret3 = txt.replace('매일', '항상')  
ret4 = ret3.replace('일', '사건')
print(ret3)   # ‘항상 많은 일들이 일어납니다.’가 출력됨
print(ret4)   # ‘항상 많은 사건들이 사건어납니다.’가 출력됨

■ 96. 문자열을 바이트 객체로 바꾸기 encode

In [ ]:
f=open('ladybug3.txt','w','encoding='UTF')
# 예제:
u_txt='A'
b_txt=u_txt.encode()
print(u_txt) # A력
print(b_txt[0]) # 65

인코딩이란?
" 사람이 인지할 수 있는 형태의 데이터를 약속된 규칙에 의해 컴퓨터가 사용하는 0과 1로 변환하는 과정을 말한다. "

ASCII(미국 정보 교환 표준 부호) 는 1960년 대에 제정된 문자집합으로 이후 개발된 문자집합의 토대로 이루고있다.
ASCII는 7비트만을 이용해서 음이 아닌수 (  0 ~ 127 )에 문자 집합 내에 문자를 할당을 한 약속이다.

예 ) 숫자 65는 'A' , 97은 'a'를 할당했다.

■ 97.바이트 객체를 문자열로 바꾸기 decode

In [ ]:
# 예제:
u_txt='A'
b_txt=u_txt.encode()
print(u_txt) # A
print(b_txt[0]) # 65
c_txt=b_txt.decode()  # decode 로 다시 A로~
print(c_txt) # A

■ 순차적인 정수 리스트 만들기 (range)

In [9]:
# 문제: 아래와 같은 결과를 출력하는 코드를 작성하시오
print([i for i in range(10)])
print([i for i in range(10,20)])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [25]:
li = [i for i in range(10,20)]

for i in li:
    print(i, end = '\t')

10	11	12	13	14	15	16	17	18	19

In [29]:
# 문제
song = 'Yesterday\tLet it be\tGee(지)\t소원을 말해봐\t다시 만난 세계'
print(song)

k_pop = song.split('\t')

print(k_pop)

Yesterday	Let it be	Gee(지)	소원을 말해봐	다시 만난 세계
['Yesterday', 'Let it be', 'Gee(지)', '소원을 말해봐', '다시 만난 세계']

■ 100. 리스트에서 특정 위치의 요소 얻기

In [36]:
# 문제: 아래의 리스트에서 숫자 2와 알파벳 b와 숫자 5를 출력하시오
listdata = [1,2,'a','b','c',[4,5,6]]

print(listdata.index('b'), listdata.index(2))

print(listdata[1])
print(listdata[3])
print(listdata[-1][1])

3 1
2
b
5

■ copy와 deepcopy 모듈의 차이

In [39]:
# 1. 리스트 변수의 값을 복사하는 방법
a = [1,2,3]
b = a
print(b)

print(a[1])

a[1] = 4

print(a)
print(b)

[1, 2, 3]
2
[1, 4, 3]
[1, 4, 3]

※ 설명: b = a 이 뜻은 a가 가리키는 리스트 객체를 b 도 가리키겠다.

In [51]:
# a 가 가지고 있는 값으로 b 변수를 생성할 데 같은 값을 복사하는 방법은?

# 1. [:]를 이용한다
a = [1,2,3]
b = a[:]
print(b)

a[1] = 4
print(a)
print(b)

# 2. copy 모듈을 이용한다.
import copy

a = [1,2,3]
b = a.copy()

print(b)

a[1] = 4
print(a)
print(b)

# 3. deepcopy
import copy
a = [1,2,[4,5,6]]
b = a.copy()
print(b)

a[1] = 4
a[-1][1] = 4
print(a)
print(b)

from copy import deepcopy
a = [1,2,[4,5,6]]
b = deepcopy(a)
print(b)

a[1] = 4
a[-1][1] = 4
print(a)
print(b)

[1, 2, 3]
[1, 4, 3]
[1, 2, 3]
[1, 2, 3]
[1, 4, 3]
[1, 2, 3]
[1, 2, [4, 5, 6]]
[1, 4, [4, 4, 6]]
[1, 2, [4, 4, 6]]
[1, 2, [4, 5, 6]]
[1, 4, [4, 4, 6]]
[1, 2, [4, 5, 6]]

■ 리스트에서 특정 요소 구하기 (index)

In [59]:
a= ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '지구']
planet = '지구'

print(planet, '은 태양계에서 ', a.index(planet),'번째에 위치하고 있습니다.', sep ='')
print(planet, '은 태양계에서 ', a.index(planet,a.index(planet)+1),'번째에 위치하고 있습니다.', sep ='')

지구은 태양계에서 3번째에 위치하고 있습니다.
지구은 태양계에서 9번째에 위치하고 있습니다.

■ 리스트에서 특정 위치의 요소를 변경하기

In [64]:
# 문제: 아래의 리스트에서 화성을 영어로 Mars라고 변경하시오
a= ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성', '지구']

a[a.index('화성')] = 'Mars'

print(a)

['태양', '수성', '금성', '지구', 'Mars', '목성', '토성', '천왕성', '해왕성', '지구']

■ 리스트에서 특정 구간에 있는 요소 추출하기

In [66]:
a= ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

print("태양계의 암석형 행성:",a[a.index('수성'):a.index('지구')+1])
print("태양계의 암석형 행성: ", end ='') ; print(a[a.index('수성'):a.index('지구')+1])  # ; 이어서 쓰겠다!
print("태양계의 가스형 행성:",a[a.index('화성'):])

태양계의 암석형 행성: ['수성', '금성', '지구']
태양계의 암석형 행성: ['수성', '금성', '지구']
태양계의 가스형 행성: ['화성', '목성', '토성', '천왕성', '해왕성']

■ 리스트에서 짝수번째 요소만 추출하기

In [71]:
# 짝수번째 요소만 출력하기
a= ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

# print(a[::2])
print(a[1::2])

['수성', '지구', '목성', '천왕성']

■ 리스트 요소 순서를 역순으로 만드시오 (reverse)

In [78]:
a= ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

print(a[::-1])

a.reverse()
print(a)

['해왕성', '천왕성', '토성', '목성', '화성', '지구', '금성', '수성', '태양']
['해왕성', '천왕성', '토성', '목성', '화성', '지구', '금성', '수성', '태양']

■ 리스트 요소 순서를 역순으로 만들기 (reversed)

In [88]:
a= ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

b = reversed(a)
print(list(b))  # b: a가 가르키는 객체를 역순으로 한 메로리 주소만 갖고 있음

['해왕성', '천왕성', '토성', '목성', '화성', '지구', '금성', '수성', '태양']

In [136]:
# 삽입정렬 알고리즘을 파이썬으로 구현하시오
a = [5,4,3,2,1,8,7,10]

def insert_sort(li):
    for j in range(len(li)-1):
        for i in range(j+1,len(li)):
            if li[j] > li[i]:
                li[j],li[j+1:] = li[i],li[j:i] + li[i+1:]
#             print(li)
    return li
    
print(insert_sort(a))

[1, 2, 3, 4, 5, 7, 8, 10]

■ 리스트 합치기 (+)

In [137]:
# 아래의 두개의 리스트를 하나로 합쳐서 출력하시오
li1 = ['a', 'b', 'c', 'd', 'e']
li2 = ['f', 'g', 'h', 'i', 'j']

print(li1 + li2)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

■ 리스트 반복하기 (***)

In [138]:
# 아래의 결과를 출력하시오

print([0,1,2] * 3)

[0, 1, 2, 0, 1, 2, 0, 1, 2]

In [145]:
# 리스트에 추가할 값을 물어보게 하고 입력하면 리스트의 내용이 출력되게 하시오

def add_list():
    li = []
    for s in range(3):
        li.append(input('리스트에 추가할 값을 입력하세요'))
        print(li)
#     li = [input('리스트에 추가할 값을 입력하세요: ') for s in range(3)]
#     return li

print(add_list())

리스트에 추가할 값을 입력하세요a
['a']
리스트에 추가할 값을 입력하세요b
['a', 'b']
리스트에 추가할 값을 입력하세요c
['a', 'b', 'c']
None

■ 리스트의 특정 위치에 요소에 삽입하기 (insert)

In [150]:
# 목성 앞에 소행성을 입력하시오
a= ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

a.insert(a.index('목성'),'소행성')
print(a)

['태양', '수성', '금성', '지구', '화성', '소행성', '목성', '토성', '천왕성', '해왕성']

■ 리스트의 특정 위치의 요소 제거하기 (del)

In [152]:
# 아래의 리스트에서 토성을 지우시오
a= ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

del a[a.index('토성')]
print(a)

['태양', '수성', '금성', '지구', '화성', '목성', '천왕성', '해왕성']

In [154]:
# 목성이후의 요소를 다 지우시오
a= ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

del a[a.index('목성')+1:]
print(a)

['태양', '수성', '금성', '지구', '화성', '목성']

In [164]:
# 아래의 리스트의 모든 요소를 다 삭젝하시오
a= ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

del a[:]
print(a)

[]

■ 리스트에서 특정요소 제거하기

In [165]:
a= ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

a.remove('태양')
print(a)

['수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

■ 리스트에 있는 요소의 갯수 구하기

In [168]:
a= ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

print(len(a))
print(a.count('지구'))

9
1

■ 리스트에 있는 요소 정렬하기 (sort)

In [174]:
# 아래의 리스트를 ABCD 순으로 정렬하시오
namelist = ['Mary', 'Sams', 'Aimy', 'Tom', 'Michale', 'Bob', 'Kelly']

namelist.sort()
# namelist.sort(reverse = True)
# sorted(namelist)
print(namelist)

['Aimy', 'Bob', 'Kelly', 'Mary', 'Michale', 'Sams', 'Tom']

■ 리스트 요소 정렬하기 (sorted)

In [175]:
# 아래의 리스트를 abcd 순으로 정렬해서 b라는 변수에 담고 출력하시오

namelist = ['Mary', 'Sams', 'Aimy', 'Tom', 'Michale', 'Bob', 'Kelly']

b = sorted(namelist)
print(b)

['Aimy', 'Bob', 'Kelly', 'Mary', 'Michale', 'Sams', 'Tom']

**■ 리스트 요소 무작위로 섞기(shuffle)**

    " 순서용 자료를 뒤죽박죽 섞어 놓는 함수 "

In [176]:
from random import shuffle

li = list(range(1,11))
for i in range(3):
    shuffle(li)
    print(li)

[9, 1, 4, 2, 5, 3, 7, 8, 10, 6]
[2, 4, 5, 6, 7, 8, 3, 1, 10, 9]
[2, 1, 6, 3, 8, 7, 5, 10, 4, 9]

In [177]:
# 아래의 리스트를 무작위로 섞어서 3번 출력하시오
music = ['Yesterday', 'let it be', '소원을 말해봐', 'Gee', '다만세']

for i in range(3):
    shuffle(music)
    print(music)

['Gee', '다만세', 'Yesterday', 'let it be', '소원을 말해봐']
['소원을 말해봐', 'let it be', 'Gee', '다만세', 'Yesterday']
['let it be', 'Gee', '소원을 말해봐', 'Yesterday', '다만세']

■ 리스트의 모든 요소를 인덱스와 쌍으로 추출하기(enumerate)

    " 열거하다라는 뜻으로 이 함수는 순서가 있는 자료형(리스트, 튜플, 문자형)을 입력받아 인덱스 값을 포함하는 enumerate 객체를 리턴한다 "

In [178]:
for i, name in enumerate(['body','foo','bar']):
    print(i, name)

0 body
1 foo
2 bar

In [179]:
# 
a= ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']

li = []
for i, gal in enumerate(a):
    li.append((i,gal))
    
print(li)

[(0, '태양'), (1, '수성'), (2, '금성'), (3, '지구'), (4, '화성'), (5, '목성'), (6, '토성'), (7, '천왕성'), (8, '해왕성')]

■ 리스트 요소가 모두 참인지 확인하기 (all,any)

In [181]:
# 아래의 리스트 요소 중에 하나라도 True가 있으면 True를 출력하시오
a = [True, False, True, True]

print(any(a))
print(all(a))

True
False

**※ 파이썬에서 _(언더바) 를 사용하는 경우**

   1. 인터프리터에서 마지막 값을 저장할 때
   2. 값을 무시하고 싶을 때
   3. 변수나 함수명에 특별한 의미를 부여하고 싶을 때
   
숫자, 문자값의 자릿수 구분을 위한 구분자로써 사용할 때

In [197]:
# 1. 마지막 값을 저장할 때: 인터프리터에서만 가능
10
_    # why 9?
_*3    # 30
_*20

180

In [185]:
# 2. 값을 무시하고 싶을 때
x, y = (1,2)

print(x,y)

x,_,y = (1,2,3)
print(x, y)

1 2
1 3

In [184]:
# 3. 여러값을 무시하고 싶을 때 

x, *_,y = (1,2,3,4,5)
print(x,y)

1 5

In [186]:
# 4. for loop 문 사용시 index를 무시하고 싶을 때
for _ in range(10):
    print('a')

a
a
a
a
a
a
a
a
a
a

5. 변수나 함수명에 특별한 의미를 부여하고 싶을 때

__init__ : 클래스가 객체화 될 대 반드시 실행되는 메소드
    
__init__.py  : 폴더 안에 있어야 패키지가 될 수 있다.

In [198]:
# 6. 숫자 또는 문자값의 자릿수를 구분하기위한 구분자로써 사용할 때 
dec_base = 1_000_000_000_000_000

print(dec_base)

1000000000000000

■ 사전에 요소 추가하기

In [199]:
# 예:
sol = {}
sol['태양'] = 'sum'

print(sol)

{'태양': 'sum'}

In [214]:
# 아래의 두개의 리스트를 이용해서 아래의 딕셔너릴 생성하시오

solar1 = ['태양', '수성', '금성', '지구', '화성', '목성', '토성', '천왕성', '해왕성']
solar2 = ['Sun', 'Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

gal = {solar1[i] : solar2[i] for i in range(len(solar1))}
    
print(gal)

gal2 = {}
for i, g in enumerate(solar1):
    val = solar2[i]
    gal2[g] = val

print(gal2)

{'태양': 'Sun', '수성': 'Mercury', '금성': 'Venus', '지구': 'Earth', '화성': 'Mars', '목성': 'Jupiter', '토성': 'Saturn', '천왕성': 'Uranus', '해왕성': 'Neptune'}
{'태양': 'Sun', '수성': 'Mercury', '금성': 'Venus', '지구': 'Earth', '화성': 'Mars', '목성': 'Jupiter', '토성': 'Saturn', '천왕성': 'Uranus', '해왕성': 'Neptune'}

In [222]:
# 문제 268. 아래의 두개의 리스트를 아래의 딕셔너리로 출력하시오

artist = ['Beatles','소녀시대']

music = ['Yesterday','소원을 말해봐']
ar = {artist[i] : mu for i,mu in enumerate(music)}

print(ar)


ar3 = {ar : mu for ar,mu in zip(artist,music)}

print(ar2)

{'Beatles': 'let it be', '소녀시대': '다만세'}
{'Beatles': 'let it be', '소녀시대': '다만세'}

■ default 딕셔너리를 구성하는 방법

In [276]:
# 1. sedefault
artist = ['Beatles', 'Beatles', '소녀시대', '소녀시대', '소녀시대']
box = {}
for k in artist:
    box.setdefault(k, 0)
    box[k]+=1
print(box)

DATA_SOURCE = (('key1', 'value1'),
               ('key1', 'value2'),
               ('key2', 'value3'),
               ('key2', 'value4'),
               ('key2', 'value5'),)

newdata = {}
for k, v in DATA_SOURCE:
    newdata.setdefault(k, []).append(v)
print(newdata)


# 2.Counter

from collections import Counter
s = ['a','b','c','d','a','b','c']
c = Counter(s)

print(list(c.items()))


# 3. defaultdic

from collections import defaultdict
d = defaultdict(list)
d['one']
d['two']
for item in d:
    print(item)
print(dict(d))

{'key1': ['value1', 'value2'], 'key2': ['value3', 'value4', 'value5']}
{'Beatles': 2, '소녀시대': 3}
[('a', 2), ('b', 2), ('c', 2), ('d', 1)]
one
two
{'one': [], 'two': []}

In [280]:
# 두개의 리스트로 아래의 딕셔너리를 생성하시오
artist = ['Beatles', 'Beatles', '소녀시대', '소녀시대', '소녀시대']

music = ['Yesterday', 'let it be', '소원을 말해봐', 'Gee', '다만세']

#  1. sedefault
box = {}
for v, k in enumerate(artist):
    box.setdefault(k, []).append(music[v])    #setdefault(key, value)
print(box)

# 3. defaultdic

from collections import defaultdict

box2 = defaultdict(list)  # 값이 없어도 되고 key가 중복될 경우 value를 list로 받겠다 -> 단, sort 하기!

for i, ar in enumerate(artist):
    box2[ar].append(music[i])
#     print(box)

print(dict(box2))

{'Beatles': ['Yesterday', 'let it be'], '소녀시대': ['소원을 말해봐', 'Gee', '다만세']}
{'Beatles': ['Yesterday', 'let it be'], '소녀시대': ['소원을 말해봐', 'Gee', '다만세']}

In [290]:
# 아래의 곡을 더 추가해서 결과가 출력되게 하시오
artist = ['Beatles', 'Beatles','소녀시대', '소녀시대', '소녀시대', '소녀시대']

music = ['Yesterday', 'let it be', '소원을 말해봐', 'Gee', '다만세', '소녀시대']

#  1. sedefault
box = {}
for v, k in enumerate(artist):
    box.setdefault(k, []).append(music[v])    #setdefault(key, value)
print(box)

# 3. defaultdic

from collections import defaultdict

box2 = defaultdict(list)  # 값이 없어도 되고 key가 중복될 경우 value를 list로 받겠다 -> 단, sort 하기!

for i, ar in enumerate(artist):
    box2[ar].append(music[i])

print(dict(box2))

{'Beatles': ['Yesterday', 'let it be'], '소녀시대': ['소원을 말해봐', 'Gee', '다만세', '소녀시대']}
{'Beatles': ['Yesterday', 'let it be'], '소녀시대': ['소원을 말해봐', 'Gee', '다만세', '소녀시대']}

■ 사전의 특정 요소 값 변경하시

In [286]:
# 아래의 딕셔너리의 값 중에 let it be를 Women으로 변경하시오
print(box)

box['Beatles'][1] = 'Hey jude'

print(box)

{'Beatles': ['Yesterday', 'let it be'], '소녀시대': ['소원을 말해봐', 'Gee', '다만세', '소녀시대']}
{'Beatles': ['Yesterday', 'Hey jude'], '소녀시대': ['소원을 말해봐', 'Gee', '다만세', '소녀시대']}

In [287]:
# 아래의 딕셔너리에서 소녀시대를 전부 지우시오
del box['소녀시대']

print(box)

{'Beatles': ['Yesterday', 'Hey jude']}

■ 사전의 모든 요소 제거하기(clear)

In [289]:
# 아래의 리스트의 모든 요소를 다 삭제하시오

print(box)

box.clear()

print(box)

{'Beatles': ['Yesterday', 'let it be'], '소녀시대': ['소원을 말해봐', 'Gee', '다만세', '소녀시대']}
{}

■ 사전에서 키만 추출하기 (keys)

In [295]:
box.keys()

dict_keys(['Beatles', '소녀시대'])

■ 사전에서 값만 추출하기 (values)

In [296]:
box.values()

dict_values([['Yesterday', 'let it be'], ['소원을 말해봐', 'Gee', '다만세', '소녀시대']])

In [318]:
# 아래의 딕셔너리에서 아래의 노래만 추출하시오
print(box)

# for i in range(len(box.values())):
#     print(list(box.values())[i][0], end=' ')

box_v= list(box.values())
print(box_v[0][1],box_v[1][0])

{'Beatles': ['Yesterday', 'let it be'], '소녀시대': ['소원을 말해봐', 'Gee', '다만세', '소녀시대']}
let it be 소원을 말해봐

In [359]:
# 아래의 리스트의 값들을 아래와 같이 출력하시오
artist = ['Beatles', 'Beatles', 'Beatles', '소녀시대', '소녀시대', '소녀시대']

music = ['Yesterday', 'let it be', 'Hey jude', '소원을 말해봐', 'Gee', '다만세']

#  1. sedefault
box = {}
for v, k in enumerate(artist):
    box.setdefault(k, []).append(music[v])    #setdefault(key, value)
print(box)

box = list(box.values())

for x in range(3):
    for j in range(len(box)):
        print(box[j][x], end = ' ')

{'Beatles': ['Yesterday', 'let it be', 'Hey jude'], '소녀시대': ['소원을 말해봐', 'Gee', '다만세']}
Yesterday 소원을 말해봐 let it be Gee Hey jude 다만세

In [394]:
# shuffle 기능을 추가해서 코드가 수행될 때 마다 곡이 섞여서 출력되게 하시오
from random import shuffle

artist = ['Beatles', 'Beatles', 'Beatles', '소녀시대', '소녀시대', '소녀시대']

music = ['Yesterday', 'let it be', 'Hey jude', '소원을 말해봐', 'Gee', '다만세']

#  1. sedefault
box = {}
for v, k in enumerate(artist):
    box.setdefault(k, []).append(music[v])    #setdefault(key, value)
    shuffle(box[k])
print(box)

box = list(box.values())

# c = len([y for x in box for y in x])

# print(c)


for x in range(3):
    for j in range(len(box)):
        print(box[j][x], end = ' ')

{'Beatles': ['let it be', 'Hey jude', 'Yesterday'], '소녀시대': ['다만세', 'Gee', '소원을 말해봐']}
Yesterday 소원을 말해봐

IndexError: list index out of range

In [468]:
# 소녀시대가 한 곡이 더 있는 상태에서 구현하시오
from random import shuffle

artist = ['Beatles', 'Beatles', 'Beatles', '소녀시대', '소녀시대', '소녀시대', '소녀시대']
music = ['Yesterday', 'let it be', 'Hey jude', '소원을 말해봐', 'Gee', '다만세', '소녀시대']

# artist= ['Beatles', 'Beatles', '소녀시대', '소녀시대', '소녀시대','테스트','테스트','은희','은희','은희','은희']
# music = ['Yesterday', 'let it be', '소원을 말해봐', 'Gee', '다만세','아아아','오오오','눈의꽃','바람기억','첫눈처럼 너에게 가겠다.','My way']

box = {}
for v, k in enumerate(artist):
    box.setdefault(k, []).append(music[v])    #setdefault(key, value)
    shuffle(box[k])
# print(box)

box = list(box.values())

# print(box)

box.sort(reverse=True,key=lambda x: len(x))

# print(box)

for x in range(len(box[-1])):
    for j in range(len(box)):
        print(box[j].pop(), end = ' ')
while True:
    if len(box) != 0:
        break
    print(box[0].pop())
        
# for x in range(c):
#     for j in range(len(box)):
#         print(box[j][x], end = ' ')
# print(box[0][-1])

소녀시대 Yesterday 다만세 let it be Gee Hey jude 소원을 말해봐

■ 사전 요소를 모두 추출하기 (items)
    
    ※ 딕셔너리 자료형에서 데이터를 추출하는 방법
        
        1. key 추출 : dic.keys()
        2. value 추출 : dic.values()
        3. 둘 다 추출 : dic.items()

In [496]:
# 아래의 딕셔너리의 모든 아이템을 다 추출하시오

artist = ['Beatles', 'Beatles', 'Beatles', '소녀시대', '소녀시대', '소녀시대', '소녀시대']
music = ['Yesterday', 'let it be', 'Hey jude', '소원을 말해봐', 'Gee', '다만세', '소녀시대']

# artist= ['Beatles', 'Beatles', '소녀시대', '소녀시대', '소녀시대','테스트','테스트','은희','은희','은희','은희']
# music = ['Yesterday', 'let it be', '소원을 말해봐', 'Gee', '다만세','아아아','오오오','눈의꽃','바람기억','첫눈처럼 너에게 가겠다.','My way']

box = {}
for v, k in enumerate(artist):
    box.setdefault(k, []).append(music[v])    #setdefault(key, value)
    shuffle(box[k])
    
box.items()

dict_items([('Beatles', ['Yesterday', 'Hey jude', 'let it be']), ('소녀시대', ['Gee', '소녀시대', '소원을 말해봐', '다만세'])])

■ 사전 정렬하기 (sorted)

In [504]:
# 아래의 딕셔너리 데이터의 키값을 ABCD 순으로 정렬해서 출력하시오

names = {'Mary':10999, 'Sams':2111, 'Aimy':9778, 'Tom':20245, 'Michale':27115, 'Bob':5887, 'Kelly':7855}

print(sorted(list(names.keys())))

['Aimy', 'Bob', 'Kelly', 'Mary', 'Michale', 'Sams', 'Tom']

In [506]:
# 위의 dictionary 의 key를 정렬할 때 키도 같이 정렬되게 하시오

sorted(list(names.items()))

[('Aimy', 9778),
 ('Bob', 5887),
 ('Kelly', 7855),
 ('Mary', 10999),
 ('Michale', 27115),
 ('Sams', 2111),
 ('Tom', 20245)]